.navbar-default 
	.navbar-brand
		color: black

.navbar-form
	input
		border-radius: 12px

.navbar-default
	.navbar-nav, .navbar-right > li > a
		color: orange

.active-home
	background: orange
	a
		color: white !important