{% extends 'base.html' %}
{% load staticfiles  %}


{% block content %}

<!-- Navigation / from plugs -->
{% include 'plugs/navigation-post-login.html' %}

<section class="container-fluid" id="post-login-menu-item">
  <div class="row">
    <div class="col-md-6">
      <!-- Split button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">All listing types</button>
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-default btn-lg btn-20 pull-right">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      </button>
      <button type="button" class="btn btn-default btn-lg btn-20 pull-right">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
      </button>
      <button type="button" class="btn btn-default btn-lg btn-20 pull-right">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Grid
      </button>

    </div>
  </div>
</section>

<section class="container-fluid" id="post-login-item">
  <div class="row">
    <div class="col-md-3">
      <p>ALL CATEGORIES</p>
      <nav class="sidebar">
        <ul class="nav sidenav">
          <li><a href="#items">ITEMS</a>
            <ul class="nav">
              <li><a href="#">TOOLS</a></li>
              <li><a href="#">SPORTS</a></li>
              <li><a href="#">MUSIC</a></li>
              <li><a href="#">BOOKS & MAGAZINES</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="col-md-9">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{% static 'images/cover.jpg' %}" alt="...">
          <div class="caption">
            <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
            <p class="inline">Thumbnail label</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
